# neovim / coc
.tool-versions
.vim/

__pycache__
.cache
.eggs
.pytest_cache/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
.eggs/
*.egg-info/
.installed.cfg
*.egg
.env
.pybuild

user-history.db
layout.blend1
